{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% include 'main/utils/sidebar.html.twig' %}

    {% if error %}
    <div class="flash is-hidden" data-flash-type="has-background-dark">
        Вы неверно ввели данные
{#        {{ error.messageKey|trans(error.messageData, 'security') }}#}
    </div>
    {% endif %}


<br>
<div class="columns">
    <div class="column is-3">

        <form method="post">
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h2 class="title">Вход</h2>
            <label for="inputEmail" class="label">Логин</label>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input"
                           autocomplete="email" required autofocus>
                    <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i></span>
                </p>
            </div>
            <label for="inputPassword" class="label">Пароль</label>

            <div class="field">

                <p class="control has-icons-left">
                    <input type="password" name="password" id="inputPassword" class="input"
                           autocomplete="current-password" required>
                    <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                </p>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="field">
                <p class="control">
                    <button class="button is-info" type="submit">
                        Войти
                    </button>
                </p>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block javascripts %}

{% endblock %}

