{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}

    {% include 'admin/utils/sidebar.html.twig' %}

    <style type="text/css">
        .has-background-dark-souls {
            background: #2d2c2c;
        }
    </style>

    <div class="columns is-mobile is-centered">
        <div class="column is-narrow is-size-2">
            Завершенные заявки
        </div>
    </div>

    <table class="table is-hoverable is-fullwidth">
        <thead class="is-bordered">
        <tr class="has-background-dark-souls is-bordered">
{#            <th class="has-text-white">ID</th>#}
            <th class="has-text-white">Название</th>
{#            <th class="has-text-white">Описание</th>#}
            <th class="has-text-white">Дата</th>
{#            <th class="has-text-white">Конец</th>#}
            <th class="has-text-white">ФИО</th>
            <th class="has-text-white">Телефон</th>
            <th class="has-text-white">Помещение</th>
            <th class="has-text-white">Решение</th>
        </tr>
        </thead>
        <tbody>
        {% for booking in pagination %}
            <tr>
{#                <td>{{ booking.id }}</td>#}
                <td>
                    <a href="{{ asset('uploads/documents/' ~ booking.documentFilename) }}">{{ booking.title }}</a>
                    </td>
{#                <td>{{ booking.description }}</td>#}
                <td>{{ booking.dateStart ? booking.dateStart|date('d-m-Y') : '' }}</td>
{#                <td>{{ booking.dateEnd ? booking.dateEnd|date('d-m-Y H:i') : '' }}</td>#}
                <td>{{ booking.fullName }}</td>
                <td>{{ booking.phone }}</td>
                <td>{{ booking.idRoom }}</td>
                <td>{{ booking.isApproved ? 'одобрено' : 'отклонено'}}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="columns is-mobile is-centered">
        <div class="column is-narrow is-size-2">
            <nav class="pagination" role="navigation" aria-label="pagination">
                {{ knp_pagination_render(pagination) }}
            </nav>
        </div>
    </div>

{% endblock %}
