{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}

    {% include 'admin/utils/sidebar.html.twig' %}
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">#}

    <style type="text/css">
        .has-background-dark-souls {
            background: #2d2c2c;
        }
    </style>

    <div class="columns is-mobile is-centered">
        <div class="column is-narrow is-size-2">
            Завершенные заявки
        </div>
    </div>

    <table class="table is-hoverable is-fullwidth">
        <thead class="is-bordered">
        <tr class="has-background-dark-souls is-bordered">
{#            <th class="has-text-white">ID</th>#}
            <th class="has-text-white">Название</th>
{#            <th class="has-text-white">Описание</th>#}
            <th class="has-text-white">Дата</th>
{#            <th class="has-text-white">Конец</th>#}
            <th class="has-text-white">ФИО</th>
            <th class="has-text-white">Телефон</th>
            <th class="has-text-white">Помещение</th>
            <th class="has-text-white">Решение</th>
        </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
{#                <td>{{ booking.id }}</td>#}
                <td>{{ booking.title }}</td>
{#                <td>{{ booking.description }}</td>#}
                <td>{{ booking.dateStart ? booking.dateStart|date('d-m-Y') : '' }}</td>
{#                <td>{{ booking.dateEnd ? booking.dateEnd|date('d-m-Y H:i') : '' }}</td>#}
                <td>{{ booking.fullName }}</td>
                <td>{{ booking.phone }}</td>
                <td>{{ booking.idRoom }}</td>
                <td>{{ booking.isApproved ? 'одобрено' : 'отклонено'}}</td>

{#                <td>{{ booking.approved }}</td>#}

{#                <td>#}
{#                    <a href="{{ path('booking_show', {'id': booking.id}) }}" class="button is-small is-info is-outlined">#}
{#                        show#}
{#                    </a>#}
{#                    <a href="{{ path('booking_edit', {'id': booking.id}) }}" class="button is-small is-danger is-outlined">#}
{#                        edit#}
{#                    </a>#}
{#                    <button class="" action="">#}
{#                        show#}
{#                    </button>#}
{#                </td>#}
{#                <td>#}
{#                    <a href="{{ path('booking_show_admin', {'id': booking.id}) }}" class="button is-small is-dark is-outlined">#}
{#                        Рассмотреть#}
{#                    </a>#}
{#                </td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <button class="button">#}
{#        <a href="{{ path('booking_new') }}">#}
{#            Create new#}
{#        </a>#}
{#    </button>#}
{#    <button class="button">#}
{#        <a href="{{ path('main_page') }}">#}
{#            Calendar#}
{#        </a>#}
{#    </button>#}
{% endblock %}
