{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}

    {% include 'admin/utils/sidebar.html.twig' %}
    {#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"> #}

    <style type="text/css">
        .has-background-dark-souls {
            background: #2d2c2c;
        }
    </style>

    <div class="columns is-mobile is-centered">
        <div class="column is-narrow is-size-3">
            Текущие заявки ({{ pagination.getTotalItemCount }})
        </div>
    </div>
    <table class="table is-hoverable is-fullwidth">
        <thead class="is-bordered">
        <tr class="has-background-dark-souls is-bordered">
            <th class="has-text-white">Название</th>
            <th class="has-text-white">Дата</th>
            <th class="has-text-white">ФИО</th>
            <th class="has-text-white">Телефон</th>
            <th class="has-text-white">Помещение</th>
            <th class="has-text-white">Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for booking in pagination %}
            <tr>
                <td>{{ booking.title }}</td>
                <td>{{ booking.dateStart ? booking.dateStart|date('d-m-Y') : '' }}</td>
                {#                <td>{{ booking.dateEnd ? booking.dateEnd|date('d-m-Y H:i') : '' }}</td> #}
                <td>{{ booking.fullName }}</td>
                <td>{{ booking.phone }}</td>
                <td>{{ booking.idRoom }}</td>

                <td class="is-vcentered has-text-right">
                    <div class="dropdown is-right has-text-left">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu{{ booking.id }}">
                              <span class="icon is-small">
                                  <i class="fas fa-ellipsis-v"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu{{ booking.id }}" role="menu">
                            <div class="dropdown-content">
                                <a class="dropdown-item"
                                   href="{{ path('booking_show_admin', {'id': booking.id}) }}">Рассмотреть</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Нет активных заявок</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="columns is-mobile is-centered">
        <div class="column is-narrow is-size-2">
            <nav class="pagination" role="navigation" aria-label="pagination">
                {{ knp_pagination_render(pagination) }}
            </nav>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('styles/js/dropdown.js') }}"></script>

{% endblock %}
