{% extends 'base.html.twig' %}

{% block title %}Заявка {{ booking.id }}{% endblock %}

{% block body %}
    {% include 'admin/utils/sidebar.html.twig' %}

    <br>
    <div class="columns is-mobile is-centered">
        <div class="column is-narrow is-size-2 has-text-dark">
            Просмотр заявки
        </div>
    </div>
    <br>
    <div class="columns is-mobile is-centered">
        <table class="table is-hoverable">
            <tbody>
                <tr>
                    <th>Название</th>
                    <td>{{ booking.title }}</td>
                </tr>
                <tr>
                    <th>Идентификатор</th>
                    <td>{{ booking.id }}</td>
                </tr>
                <tr>
                    <th>Начало</th>
                    <td>{{ booking.dateStart ? booking.dateStart|date('d-m-Y H:i') : '' }}</td>
                </tr>
                <tr>
                    <th>Конец</th>
                    <td>{{ booking.dateEnd ? booking.dateEnd|date('d-m-Y H:i') : '' }}</td>
                </tr>
                <tr>
                    <th>ФИО</th>
                    <td>{{ booking.fio }}</td>
                </tr>
                <tr>
                    <th>Телефон</th>
                    <td>{{ booking.tel }}</td>
                </tr>
                <tr>
                    <th>Помещение</th>
                    <td>{{ booking.idRoom }}</td>
                </tr>
                <tr>
                    <th>Документ</th>
                    <td>ссылка</td>
                </tr>
            </tbody>
        </table>
    </div>
<div class="columns is-mobile is-centered">
    <div class="column is-narrow is-size-2 has-text-dark">
        <a href="{{ path('booking_approve_admin', {'id': booking.id}) }}" class="button is-success is-outlined">
            Принять
        </a>
    </div>
    <div class="column is-narrow is-size-2 has-text-dark">
        <a href="{{ path('booking_decline_admin', {'id': booking.id}) }}" class="button is-danger is-outlined">
            Отклонить
        </a>
    </div>
    <div class="column is-narrow is-size-3 has-text-dark">
        <a href="{{ path('booking_list_admin') }}" class="button is-info is-outlined">
            Вернуться
        </a>
    </div>
</div>
{#    <a href="{{ path('booking_index') }}">back to list</a>#}

{#    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>#}

{#    {{ include('_delete_form.html.twig') }}#}
{% endblock %}
