<link href="{{ asset('styles/css/sidebar.css') }}" rel="stylesheet"/>
<nav class="main-menu">

    ADMIN
    <ul>
        <li>
            <a href="{{ path('calendar_admin') }}">
                <i class="fa fa-calendar fa-2x"></i>
                <span class="nav-text">
                            Календарь
                        </span>
            </a>

        </li>
        <br>
        <li>
            <a href="{{ path('booking_list_admin') }}">
                <i class="fa fa-tasks"></i>
                <span class="nav-text">
                    Управление заявками
                        </span>
            </a>

        </li>
        <br>
        <li>
            <a href="#">
                <i class="fa fa-pencil"></i>
                <span class="nav-text">
                    Создать заявку
                        </span>
            </a>

        </li>
        <br>
        <li>
            <a href="{{ path('booking_list_archive_admin') }}">
                <i class="fa fa-archive"></i>
                <span class="nav-text">
                    Архив заявок
                        </span>
            </a>

        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="{{ path('app_logout') }}">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                            Выйти
                        </span>
            </a>
        </li>
    </ul>
</nav>